name: CI

on:
  push:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Check notebooks are clean
        run: |
          # Strip outputs only, keep IDs
          nbstripout --keep-id **/*.ipynb
          git diff --exit-code

      - name: Format check
        run: black --check .

      - name: Lint
        run: flake8 .
